<!----------------以下是 header---------->
.header{
	width:100%;overflow:hidden;height:86px;
}
.h-content{
	width:1264px;height:86px;margin:0 auto;
	
}

.h-left{
	width:197px;height:48px;
	padding:18px 0 0 38px;
}
.h-left a {cursor:pointer;}
<!----------------以上是 header---------->


<!----------------以下是 main---------->
.main{
	width:100%;height:600px;
	background-color:red;
}
.regist{
	width:350px;height:417px;float:right;
	position:absolute;top:130px;right:50px;
	box-shadow:0 0 20px #999;padding:0 25px 0 25px;
}
.p01{
	height:40px;font-size:18px;padding-top:20px;
}
#r-ipt{
	height:40px;border:1px solid #999;margin-bottom:15px;
	width:100%;font-size:16px;
}	

#yzm{
	height:40px;border:1px solid #999;margin-bottom:15px;
	width:100%;font-size:16px;line-height:40px;
}
#r-pwd{
	height:40px;border:1px solid #999;margin-bottom:15px;
	width:100%;font-size:16px;
}
#qr{
	height:40px;border:1px solid #999;
	width:100%;font-size:16px;
}
.span01{
	display:block;height:50px;line-height:50px;font-size:14px;
	
}
.span01 a{
	color:#00BAD6;cursor:pointer;
}
#sub{
	height:40px;width:100%;color:#fff;font-size:20px;
	background:#00bad6;letter-spacing:1em;text-align:center;
}
.p02{
	font-size:12px;line-height:14px;
}
.p02 a{
	font-size:14px;color:#57d1f0;line-height:30px;
	cursor:pointer;
}

<!----------------以上是 main---------->





















