.head{
	width:100%;overflow:hidden;
}
.h-content{
	width:1264px;height:116px;margin:0 auto;
}
#search{
	width:575px;height:40px;background:url("../images/header/search.png") no-repeat left center ;
	padding-left:30px;border:1px solid #999;background-origin:padding-box;
}
#sub{
	width:127px;height:42px;background:#00bbd7;font-size:18px;
	color:#fff;font-weight:bold;border:none;cursor:pointer;
}
.h-left{
	width:197px;height:78px;float:left;
	padding:38px 0 0 38px;
}
.h-left a {
	cursor:pointer;
}
.h-center{
	width:787px;height:86px;float:left;
	padding-top:30px;
}
.h-right{
	width:242px;height:86px;float:left;
	padding-top:30px;
}
.h-center li{
	height:15px;font-size:14px;line-height:30px;float:left;
	color:#959595;
}
.h-center li span{
	padding:0 10px 0 10px;
}
.h-center li a:hover{color:red;cursor:pointer;}
#zc{
	width:65px;height:40px;background:red;
	border:none;float:left;font-size:16px;color:#fff;
	margin-right:15px;text-align:center;line-height:40px;
	cursor:pointer;
}
#dl{
	width:65px;height:38px;background:#fff;
	border:1px solid #999;float:left;font-size:16px;
	color:#797979;margin-right:15px;
	text-align:center;line-height:40px;
	cursor:pointer;
}
#gwc{
	width:40px;height:25px;background:#fff;text-align:center;
	border:1px solid #999;float:left;padding-top:13px;
	cursor:pointer;
}






















